.Main {
    color: black;
    background-color: whitesmoke;
    text-align:center;
    height:100cqmax;
}

#topbar { 
    background-color:#2376ba;
    border-style:solid;
    border-width: 0.1cm;
    border-color: rgb(70, 70, 70);
}
#pagetitle {
    color:rgb(0, 0, 0);
    align-items: center;
    text-align: center;
    padding-top: 0.3cm;
    font-weight:400;
    font-family: "Old Standard TT", serif;
}
.column {
    top:0;
    bottom: 0;
    background-color:antiquewhite;
    border-style:solid;
    border-color: lightblue;
    width:75%;
    height: 100%;
    align-self: center;
    text-align: center;
}
.left {
    width:12.5%;
    background-color: antiquewhite;
}

.right {
    width:12.5%;
    background-color: antiquewhite;
}
.row { 
    height: 100%;
}