.Main {
    color: black;
    background-color: beige;
    text-align:end;
}

#intro { 
    color:rgb(0, 0, 0);
    background-color: aliceblue;
}
#pitch {
    color: rgb(0, 0, 0);
    background-color: rgb(247, 198, 152);
    text-align: center;
    padding: 15px;
    margin: 5px;
    border: 1px solid black;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
}
#pagetitle {
    color:rgb(0, 0, 0);
    font-weight:400;
    text-align: center; 
    font-family: 'Raleway', sans-serif;
}
#background {
    border-left: 10px;
    border-right: 10px;
}
#center {
    background-color: antiquewhite;
    align-items: center;
}
.showitem {
    border: 5px solid rgb(13, 0, 131);
    text-align: center;
}
.showcase {
    padding: 40px;
}
.iteminfo{
    color: black;
    font-family: 'Raleway', sans-serif;
    align-self: center;
}
#statement {
    margin: 100px;
    background-color: rgb(197, 255, 236);
    border: 5px solid black;
    text-align: center;
}

#disclaimer {
    margin:50px;
    background-color: blanchedalmond;
    text-align: left;
}